
body{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.text{
    background: rgb(226, 94, 94);
}
.box{
    width: 500px;
    height: 400px;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.2);
    background: #a5bbdd;
    overflow: hidden;
    position: relative;
    transform: translate3d(0, 0, 0);
    min-width: 20rem;
    min-height: 30rem;
    text-align: center;
    margin: 25px;
   
}
.buttons{
    background: #cad2c5;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 25%;
    font-size: 24px;
    color: black;
    height: 20%;
    min-width: 25%;
    
}
.buttons[data-size="2"]{
    height: 40%;
}
.buttons[data-value="null"]{
    pointer-events: none;
}
.buttons:hover{
    background: #d7ddd3;
    cursor: default;
}
.display{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #d0cde7;
    height: 20%;
    color: #000;
    font-size: 24px;
   border: 1px solid rgba(0, 0, 0, 0.5);
}
.keypad{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 80%;
    
}
.boxs{
    width: 500px;
    height: 400px;
    position: relative;
    margin: 25px;
}
#clear{
    color: red;
}
#back{
    color: rgb(34, 141, 7);
}
h1{
    margin-left: 150px;
}